@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Poppins&display=swap');

body {
  font-family: 'Poppins';
}

header, #principal, #second, #contato, #stream {

}

.link-menu {
  color: #fff;
  background-color: #3f51b5; /* Um azul médio para os links gerais do menu */
}

.f {
  background-color: #1a237e; /* Um azul escuro, substituindo o #5b305a (roxo) */
}

.l {
  background-color: #2196f3; /* Um azul brilhante, substituindo o #e49756 (laranja) */
}

.m {
  background-color: #0d47a1; /* Um azul forte, substituindo o #e04b5a (vermelho) */
}

main {
  background-color: #263238; /* Um azul-cinzento escuro para o fundo do conteúdo principal */
  color: #e3f2fd; /* Um azul bem claro para o texto */
}

h1, h2 {
  font-family: 'Amatic SC';
}

#second a{
  color: #e3f2fd; /* Azul claro para os links na seção #second */
}

footer {
  background-color: #263238; /* Azul-cinzento escuro para o fundo do rodapé, combinando com o 'main' */
  color: #e3f2fd; /* Azul claro para o texto do rodapé, combinando com o 'main' */
}